<div id="accordion">
    <tr th:each="payment, index : ${payments}">
        <div class="card">
            <div class="card-header">
                <a class="card-link " data-toggle="collapse" th:href="@{'#collapse' + ${index.index}}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col"
                                 th:text="#{expo.number} + ': ' + ${index.index + 1}">
                            </div>
                            <div class="col"
                                 th:text="#{expo.register.card.number} + ': ' + ${payment.user.cardNumber}">
                            </div>
                            <div class="col"
                                 th:text="#{expo.ticket.date} + ': ' + ${#temporals.format(payment.date, 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                            <div class="col"
                                 th:text="#{expo.total} + ': ' + ${payment.total}">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div th:id="'collapse' + ${index.index}" class="collapse" data-parent="#accordion">
                <table class="table table-striped">
                    <tr>
                        <th th:text="#{expo.exposition.title}"></th>
                        <th th:text="#{expo.ticket.date}"></th>
                        <th th:text="#{expo.ticket.quantity}"></th>
                        <th th:text="#{expo.exposition.price}"></th>
                    </tr>
                    <tr th:each="ticket : ${payment.tickets}">
                        <td th:text="${ticket.exposition.title}"></td>
                        <td th:text="${ticket.date}"></td>
                        <td th:text="${ticket.quantity}"></td>
                        <td th:text="${ticket.exposition.price}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </tr>
</div>