<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" th:text="${#locale}"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?locale=en">en</a>
                <a class="dropdown-item" href="?locale=ru">ru</a>
                <a class="dropdown-item" href="?locale=uk">uk</a>
            </div>
        </div>
        <div class="logo">
            <a href="/" class="nav-link text-light">
                <img src="img/center_icon_64.png"/>
                <span th:text="#{expo.title}"></span>
            </a>
        </div>

        <a type="button" class="btn btn-light btn-lg" href="/admin/add" th:text="#{expo.exposition.add}"></a>
        <a type="button" class="btn btn-light btn-lg" href="/admin/update" th:text="#{expo.exposition.update}"></a>
        <a type="button" class="btn btn-light btn-lg" href="/logout" th:text="#{expo.logout}"></a>
    </nav>
</header>