<div class="row">
    <div class="col-md-4" th:each="exposition : ${expositions}">
        <div class="card">
            <img class="card-img-top" th:src="@{${exposition.imagePath}}">
            <div class="card-body">
                <h4 class="card-title" th:text="${exposition.title}"></h4>
                <p th:text="${exposition.description}"></p>
                <p th:text="${'Price: ' + exposition.price + 'uah'}"></p>
                <p th:text="${'Takes place: ' + exposition.startDate + ' - ' + exposition.endDate}"></p>
                <form th:action="@{/addTicket}" method="post" sec:authorize="isAuthenticated()">
                    <input type="hidden" name="exposition_id" th:value="${exposition.id}">
                    <button class="btn btn-lg btn-info btn-block" type="submit">Buy Ticket</button>
                </form>
                <a class="btn btn-lg btn-info btn-block" th:href="@{/login}"
                   sec:authorize="isAnonymous()">Buy Ticket</a>
            </div>
        </div>
    </div>
</div>
