<footer class="navbar navbar-expand-sm bg-dark navbar-dark fixed">
    <div class="logo">
        <a href="/" class="nav-link text-light">
            <img src="img/center_icon_64.png" width="32" height="32"/>
            <span>Expo Center</span>
        </a>
    </div>
    <div class="copyright">
            <span class="text-light">
                © 2019 Developer: Shevchenko Anton/>
            </span>
    </div>
    <a class="github text-light nav-link" href="https://github.com/SCARFACET0NY/expo-center">
        <i class="fa fa-github" style="font-size: 32px;"></i>
        <span>Github</span>
    </a>
</footer>