<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <title>Expo Center</title>
</head>
<body>
    <th:block th:include="header.html" />
    <th:block th:include="sub-header.html" />
    <div class="container-fluid">
        <h2 th:text="${hall.title}"></h2>
        <th:block th:include="expositions.html" />
    </div>
    <th:block th:include="footer.html" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>