<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">en</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?locale=en">en</a>
                <a class="dropdown-item" href="?locale=ru">ru</a>
                <a class="dropdown-item" href="?locale=ua">ua</a>
            </div>
        </div>
        <div class="logo">
            <a class="nav-link text-light" href="/">
                <img src="img/center_icon_64.png"/>
                <span>Expo Center</span>
            </a>
        </div>
        <div class="btn-group btn-group-lg" sec:authorize="isAuthenticated()">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span>0.00 uah</span><br/>
                    <span>0 tickets</span>
                </button>
                <div class="dropdown-menu">
                    <span class="dropdown-item">exposition 1 : 99.99</span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item">total: 99.99</span>
                </div>
            </div>

            <button type="button" class="btn btn-info">
                <a th:href="@{/cart}" class="nav-link text-light">Checkout</a>
            </button>
        </div>
        <a type="button" class="btn btn-light btn-lg" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
        <a type="button" class="btn btn-light btn-lg" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
    </nav>
</header>