<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <title>Expo Center</title>
</head>
<body>
    <th:block th:include="header.html" />
    <th:block th:include="sub-header.html" />
    <div th:if="${mailSuccess}" class="alert alert-success">
        <strong th:text="'Payment success. Tickets were sent to ' + ${mailSuccess}"></strong>
    </div>

    <div class="container-fluid">
        <h2>Available Halls</h2>

        <div class="row">
            <div th:each="hall : ${halls}" class="col-md-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{${hall.imagePath}}">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${hall.title}"></h4>
                        <p th:text="${'Area: ' + hall.area}"></p>
                        <a class="btn btn-lg btn-info btn-block" th:href="@{${hall.type.toString().toLowerCase() + 'Hall'}}">
                            Show expositions
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="footer.html" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>