<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <title>Expo Center</title>
</head>
<body>
    <th:block th:include="header.html" />
    <th:block th:include="sub-header.html" />
    <div class="search">
        <div class="container">
            <h2>Search Expositions</h2>
            <form method="get" th:action="@{/search}">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="query">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-lg btn-info form-control">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <th:block th:if="${#sets.isEmpty(expositions)}">
            <h2 th:text="${emptySearch}"></h2>
        </th:block>
        <th:block th:include="expositions.html" />
    </div>
    <th:block th:include="footer.html" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>