<nav class="navbar navbar-expand-sm bg-info justify-content-center sub-header" th:fragment="sub=header">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link ${requestScope['javax.servlet.forward.request_uri'].equals("/largeHall")
            ? "text-light" : ""}" href="/largeHall">
            <img class="icon" src="img/hall_large_icon.png"/>
            <span>Large Hall</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link ${requestScope['javax.servlet.forward.request_uri'].equals("/mediumHall")
            ? "text-light" : ""}" href="/mediumHall">
            <img class="icon" src="img/hall_medium_icon.png"/>
            <span>Medium Hall</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link ${requestScope['javax.servlet.forward.request_uri'].equals("/smallHall")
            ? "text-light" : ""}" href="/smallHall">
            <img class="icon" src="img/hall_small_icon.png"/>
            <span>Small Hall</span>
            </a>
        </li>
    </ul>
</nav>